{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/card_detail.css' %}">
<div class="row" style="padding-top: 100px;">
    <h1 style="text-align: center;">О НАС</h1>
    <div class="col-md-6">
        <img src="{% static 'img/bike_shop.png' %}" alt="Shop" width=100%>
    </div>
   <div class="co-md-2">
       <h5>Добро пожаловать в наш веломагазин!
           Мы команда энтузиастов, преданных велосипедам и активному образу жизни.
           У нас вы найдете широкий выбор велосипедов, аксессуаров и запчастей высокого качества.
           Наша цель - обеспечить вас всем необходимым для комфортных и захватывающих приключений на двух колесах.
           Мы стремимся предложить лучший сервис и профессиональные консультации, чтобы помочь вам сделать правильный выбор.
           Присоединяйтесь к нам и откройте мир велосипедных возможностей!</h5>
   </div>
</div>
{% endblock %}
