{% extends 'base.html' %}
{% load static %}

{% block title %}Доставка{% endblock %}

{% block content %}
    <section style="padding-top: 100px;" class="bg-secondary">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 text-white">
                    <h1 class="h1 text-center">Добро пожаловать!</h1>
                </div>

            </div>
        </div>
    </section>
<section class="container py-5">
    <div class="col-lg-8 m-auto">
        <h1 class="h1">Доставка</h1>
        <ul>
            <li>Мы осуществляем бесплатную доставку по городу Минску при заказе от 300 BYN.
                Также доставляем в любую точку Республики Беларусь за 15 BYN или можно воспользоваться
                услугой ускоренной доставки за 20 BYN.
                Велосипеды доставляются до подъезда, аксессуары и запчасти для велосипедов — до двери.
            </li>
            <li>При заказе велосипеда до 12:00 доставка по Минску производится в день заказа
                (при наличии необходимого товара на складе), при заказе после 12:00 — на следующий день
                (при наличии необходимого товара на складе).
            </li>
            <li>Доставка по Республике Беларусь осуществляется в течение 1-5 дней после заказа.</li>
            <li>Если понравившегося товара нет в наличии, мы можем привезти его под заказ в срок от 7 до 20 дней.</li>
        </ul>
    </div>
    <div class="row pt-5 pb-3">
        <div class="col-lg-8 m-auto">
            <h1 class="h1">Передача товара</h1>
            <ul>
                <li>Оплата производится после осмотра и проверки товара заказчиком.
                    После оплаты вы получаете гарантийный талон (если на товар распространяется гарантия) и чек.
                    Расчет производится в белорусских рублях.
                </li>
                <li>Претензии к внешнему виду и комплектации велосипеда после заполнения гарантийного талона
                    и отъезда курьера не принимаются. Поэтому настоятельно рекомендуем вам проверять модель,
                    характеристики, комплектацию товара до подписания гарантийного талона.
                </li>
                <li>Если в момент доставки, до передачи вам товара, вы по какой-либо причине решили отказаться от
                    покупки товара надлежащего качества, вам необходимо возместить расходы, связанные с доставкой в
                    размере 15 BYN (согласно части 3 статьи 467 Гражданского кодекса Республики Беларусь, пункту 16
                    Правил осуществления розничной торговли по образцам).
                </li>
                <li>Если доставка товара произведена в установленные сроки, но товар не был передан покупателю по его
                    вине, повторная доставка товара производится в новые сроки, согласованные с продавцом, при условии
                    оплаты покупателем стоимости услуг по доставке товара и возмещения расходов, понесенных продавцом
                    при первоначальной доставке товара (согласно пункту 22 Правил осуществления розничной торговли по
                    образцам).
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}